@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Poppins:ital@1&family=Raleway:ital,wght@1,500&display=swap");
* {
  margin: 0;
  padding: 0; }

.fixed {
  position: fixed;
  bottom: 20px;
  right: 10px; }

main {
  background-color: #e1e5ff; }

header {
  background-color: #C8D6B5;
  position: sticky;
  top: 0; }
  header nav ul li a {
    color: black;
    text-decoration: none; }
    header nav ul li a:hover {
      color: #007575; }

.hero {
  background-image: url("../img/paisaje.jpg");
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center; }
  .hero div h1 {
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    font-size: 65px;
    margin-left: 60px; }
  .hero div p {
    font-family: 'Barlow', sans-serif;
    font-size: 40px;
    font-weight: 600; }

.lugares {
  /*! ACTIVAR FLEXBOX*/
  display: flex;
  justify-content: space-evenly; }
  .lugares .destinos {
    width: 300px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 20px -17px 38px -23px rgba(0, 0, 0, 0.75);
    -webkit-caja-sombra: 20px -17px 38px -23px rgba(0, 0, 0, 0.75);
    -moz-caja-sombra: 20px -17px 38px -23px rgba(0, 0, 0, 0.75);
    flex-wrap: wrap; }
    .lugares .destinos .destinos-imagen-rio {
      height: 250px;
      background-image: url("../img/riodejaneiro.png");
      background-size: cover;
      border-radius: 10px; }
    .lugares .destinos .destinos-imagen-glaciar {
      height: 250px;
      background-image: url("../img/glaciar.png");
      background-size: cover;
      border-radius: 10px; }
    .lugares .destinos .destinos-imagen-paris {
      height: 250px;
      background-image: url("../img/paris.png");
      background-size: cover;
      border-radius: 10px; }
    .lugares .destinos .destinos-imagen-machu {
      height: 250px;
      background-image: url("../img/machu.jpg");
      background-size: cover;
      border-radius: 10px; }
    .lugares .destinos .destinos-imagen-cañon {
      height: 250px;
      background-image: url("../img/cañon.jpg");
      background-size: cover;
      border-radius: 10px; }
    .lugares .destinos .destinos-imagen-piramides {
      height: 250px;
      background-image: url("../img/piramides.jpg");
      background-size: cover;
      border-radius: 10px; }
  .lugares p {
    font-size: 15px;
    font-weight: 700;
    text-align: center; }

.imagen-contacto {
  background-image: url("../img/rutas.jpg");
  width: 100%;
  height: 1000px;
  background-size: cover; }
  .imagen-contacto .titulos {
    font-size: 40px;
    text-align: center;
    padding: 20px; }
    .imagen-contacto .titulos:hover {
      color: #007575; }

.registrate {
  display: flex;
  justify-content: center; }
  .registrate .formularios {
    width: 400px;
    height: 500px;
    font-size: 20px;
    border-radius: 2px;
    box-shadow: 20px -17px 38px -23px rgba(0, 0, 0, 0.75);
    -webkit-caja-sombra: 20px -17px 38px -23px rgba(0, 0, 0, 0.75);
    -moz-caja-sombra: 20px -17px 38px -23px rgba(0, 0, 0, 0.75);
    font-weight: 800;
    color: #007575; }
    .registrate .formularios:hover {
      color: black; }
    .registrate .formularios .formularios-nombre-1 {
      display: flex;
      justify-content: column;
      width: 20px;
      flex-wrap: wrap; }
    .registrate .formularios .formularios-nombre-2 {
      display: flex;
      justify-content: column;
      width: 20px;
      flex-wrap: wrap; }
    .registrate .formularios .formularios-nombre-3 {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap; }
    .registrate .formularios .genero {
      font-size: 40px;
      font-weight: 600px;
      text-align: center;
      font-family: 'Raleway', sans-serif; }
    .registrate .formularios .genero-1 {
      text-align: center;
      font-family: 'Raleway', sans-serif;
      font-size: 20px;
      justify-content: center;
      flex-wrap: wrap; }
    .registrate .formularios .reset {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }

.bienvenidos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row; }
  .bienvenidos .bienvenidos-1 {
    width: 400px;
    height: 250px;
    font-size: 20px;
    width: 600;
    text-align: center; }
    .bienvenidos .bienvenidos-1 .bienvenidos-titulo {
      font-size: 20px; }
    .bienvenidos .bienvenidos-1 .nosotros {
      font-size: 15px;
      font-weight: 600;
      width: 400px; }

.ubicacion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse; }

.ciudades {
  /*! ACTIVAR FLEXBOX*/
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap; }
  .ciudades .ciudades-imagenes {
    width: 450px;
    height: 500px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 20px -17px 38px -23px rgba(0, 0, 0, 0.75);
    -webkit-caja-sombra: 20px -17px 38px -23px rgba(0, 0, 0, 0.75);
    -moz-caja-sombra: 20px -17px 38px -23px rgba(0, 0, 0, 0.75); }
    .ciudades .ciudades-imagenes .ciudades-imagenes-1 {
      height: 250px;
      background-image: url("../img/mendoza.jpg");
      background-size: cover;
      text-align: center;
      border-radius: 20px; }
    .ciudades .ciudades-imagenes .ciudades-imagenes-2 {
      height: 250px;
      background-image: url("../img/bora.jpg");
      background-size: cover;
      text-align: center;
      border-radius: 20px; }
    .ciudades .ciudades-imagenes .ciudades-imagenes-3 {
      height: 250px;
      background-image: url("../img/coliseo.jpg");
      background-size: cover;
      text-align: center;
      border-radius: 20px; }
    .ciudades .ciudades-imagenes .ciudades-imagenes-4 {
      height: 250px;
      background-image: url("../img/cataratas.jpg");
      background-size: cover;
      text-align: center;
      border-radius: 20px; }
    .ciudades .ciudades-imagenes p {
      font-size: 15px;
      font-weight: 700; }

.container {
  width: 100%;
  /*! ACTIVAR FLEXBOX*/
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .container .container-img {
    width: 350px;
    height: 430px;
    text-align: center;
    margin: 10px;
    flex-wrap: wrap;
    font-weight: 600;
    border-radius: 20px;
    box-shadow: 20px -17px 38px -23px rgba(0, 0, 0, 0.75);
    -webkit-caja-sombra: 20px -17px 38px -23px rgba(0, 0, 0, 0.75);
    -moz-caja-sombra: 20px -17px 38px -23px rgba(0, 0, 0, 0.75); }
    .container .container-img a {
      color: black;
      text-decoration: none;
      font-size: 20px;
      transition: 0.5s; }
      .container .container-img a:hover {
        color: #007575; }
    .container .container-img p {
      font-family: 'Barlow', sans-serif;
      font-size: 15px;
      font-weight: 800; }
    .container .container-img .container-img-1 {
      background-image: url("../img/cors.png");
      height: 250px;
      background-size: cover;
      border-radius: 10px; }
    .container .container-img .container-img-2 {
      background-image: url("../img/cauquenes.jpg");
      height: 250px;
      background-size: cover;
      border-radius: 20px; }
    .container .container-img .container-img-3 {
      background-image: url("../img/peninsula.png");
      height: 250px;
      background-size: cover;
      border-radius: 20px; }
    .container .container-img .container-img-4 {
      background-image: url("../img/maroma.jpg");
      height: 250px;
      background-size: cover;
      border-radius: 20px; }
    .container .container-img .container-img-5 {
      background-image: url("../img/maldivas.jpg");
      height: 250px;
      background-size: cover;
      border-radius: 20px; }
    .container .container-img .container-img-6 {
      background-image: url("../img/villa.jpg");
      height: 250px;
      background-size: cover;
      border-radius: 20px; }
    .container .container-img .container-img-7 {
      background-image: url("../img/alpina.jpg");
      height: 250px;
      background-size: cover;
      border-radius: 20px; }
    .container .container-img .container-img-8 {
      background-image: url("../img/delta.jpg");
      height: 250px;
      background-size: cover;
      border-radius: 20px; }
    .container .container-img .container-img-9 {
      background-image: url("../img/montana.jpg");
      height: 250px;
      background-size: cover;
      border-radius: 20px; }
    .container .container-img .container-img-10 {
      background-image: url("../img/montaña.jpg");
      height: 250px;
      background-size: cover;
      border-radius: 20px; }
    .container .container-img .container-img-11 {
      background-image: url("../img/mio.jpg");
      height: 250px;
      background-size: cover;
      border-radius: 20px; }
    .container .container-img .container-img-12 {
      background-image: url("../img/hilton.jpg");
      height: 250px;
      background-size: cover;
      border-radius: 20px; }

.section-titulo {
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  padding: 40px; }
  .section-titulo:hover {
    color: #007575; }

.destinos-titulos {
  text-align: center;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  transition: 1s; }
  .destinos-titulos:hover {
    color: #007575; }

footer {
  background-color: #C8D6B5; }
  footer .container-fondo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    grid-template-areas: "logo past img";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500; }
    footer .container-fondo .img {
      grid-area: img; }
    footer .container-fondo .copy {
      grid-area: past; }
      footer .container-fondo .copy .past {
        margin-top: 20px; }
    footer .container-fondo .logo {
      grid-area: logo; }
      footer .container-fondo .logo img {
        width: 50px;
        height: 50px; }
      footer .container-fondo .logo img {
        width: 50px;
        height: 50px; }

@media screen and (max-width: 989px) {
  .bienvenidos {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .bienvenidos .nosotros {
      font-size: 12px;
      width: 350px;
      text-align: center; }
  .ubicacion {
    display: flex;
    align-items: center; }
  .lugares {
    display: flex;
    align-items: center; } }

@media screen and (max-width: 835px) {
  .lugares {
    display: flex;
    flex-direction: column; }
  .section-titulo {
    font-size: 20px; }
  .ubicacion {
    display: flex;
    align-items: center; } }

@media screen and (max-width: 400px) {
  .fixed {
    display: none; }
  .ubicacion {
    align-items: center; }
  .lugares {
    display: flex;
    align-items: center; } }

@media screen and (max-width: 350px) {
  .section-titulo {
    font-size: 20px; }
  .bienvenidos-titulo {
    font-size: 10px; }
  .lugares {
    display: flex;
    align-items: center; }
  .destinos p {
    font-size: 15px; }
  .bienvenidos-2 {
    text-align: center; } }

@media screen and (max-width: 450px) {
  .ciudades-imagenes {
    margin-top: 30px; }
    .ciudades-imagenes .ciudades-imagenes p {
      font-size: 15px;
      margin-top: 10px; }
  .bienvenidos {
    display: flex;
    flex-direction: column; }
    .bienvenidos img {
      width: 250px;
      height: 150px; }
  .container-img {
    text-align: center;
    width: 300px;
    height: 400px; }
  .destinos-lugares {
    font-size: 20px; } }

@media screen and (max-width: 412px) {
  .ciudades-imagenes {
    text-align: center;
    display: flex;
    flex-direction: column; }
  .bienvenidos-titulo {
    font-size: 20px;
    font-weight: 800; } }

@media screen and (max-width: 450px) {
  .bienvenidos {
    align-items: center; }
  .ubicacion-2 {
    align-items: center; } }

@media screen and (max-width: 547px) {
  .hero div h1 {
    font-size: 30px; }
  .hero div p {
    font-size: 30px; }
  .bienvenidos .bienvenidos-1 .bienvenidos-titulo {
    text-align: center;
    font-size: 20px; }
  .bienvenidos .bienvenidos-1 .nosotros {
    text-align: center;
    font-size: 15px; }
  .ubicacion {
    display: flex;
    flex-direction: column; }
    .ubicacion iframe {
      display: flex;
      justify-content: center; }
    .ubicacion .bienvenidos-2 h2 {
      text-align: center;
      font-size: 20px; }
    .ubicacion .bienvenidos-2 a {
      text-align: center;
      font-size: 20px; }
    .ubicacion .bienvenidos-2 a {
      text-align: center;
      font-size: 20px; } }

@media screen and (max-width: 405px) {
  .section-titulo {
    font-size: 20px; }
  .hero div h1 {
    font-size: 20px; }
  .hero div p {
    font-size: 20px; }
  .ubicacion iframe {
    width: 200px;
    height: 200px; } }

@media screen and (max-width: 493px) {
  .imagen-contacto div .titulos {
    text-align: center;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600; } }

@media screen and (max-width: 380px) {
  .container .container-img .destinos-titulo {
    font-size: 30px; } }

@media screen and (max-width: 647px) {
  .bienvenidos img {
    width: 450px;
    height: 300px; } }

@media screen and (max-width: 453px) {
  .bienvenidos img {
    width: 350px;
    height: 200px; }
    .bienvenidos img .bienvenidos-1 .nosotros {
      width: 350px;
      height: 200px; } }

@media screen and (max-width: 400px) {
  .bienvenidos .bienvenidos-1 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .bienvenidos .bienvenidos-1 .nosotros {
      width: 350px;
      height: 300px; } }
