header{
    background-color: $color-secundario;
    position: sticky;
    top: 0;
    nav{
        ul{
            li{
                a{
                color: $color-p;
                text-decoration: none;
                &:hover{
                    color: $color-principal;
                }
                }
            }
        }
    }
}