.hero{
    background-image:url("../img/paisaje.jpg");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    div{
        h1{
            font-weight: 700;
            font-family: 'Raleway', sans-serif;
            font-size: 65px;
            display: flex;
            justify-content: center;
        }
        p{
            font-family: 'Barlow', sans-serif;
            font-size: 40px;
            font-weight: 600;
            display: flex;
            justify-content: center;
        }
    }
}

.lugares{
    /*! ACTIVAR FLEXBOX*/
    display: flex;
    justify-content: space-evenly;
    .destinos{
        width: 300px;
        height: 600px;
        border-radius: 10px;
        box-shadow:  20px -17px 38px -23px rgba(0,0,0,0.75);
        -webkit-caja-sombra: 20px -17px 38px -23px rgba(0,0,0,0.75);
        -moz-caja-sombra: 20px -17px 38px -23px rgba(0,0,0,0.75);
        flex-wrap: wrap;
        .destinos-imagen-rio{
            height: 250px;
            background-image: url("../img/riodejaneiro.png");
            background-size: cover;
            border-radius: 10px;
        }
        .destinos-imagen-glaciar{
            height: 250px;
            background-image: url("../img/glaciar.png");
            background-size: cover;
            border-radius: 10px;
        }
        .destinos-imagen-paris{
            height: 250px;
            background-image: url("../img/paris.png");
            background-size: cover;
            border-radius: 10px;
        }
        .destinos-imagen-machu{
            height: 250px;
            background-image: url("../img/machu.jpg");
            background-size: cover;
            border-radius: 10px;
        }
        .destinos-imagen-cañon{
            height: 250px;
            background-image: url("../img/cañon.jpg");
            background-size: cover;
            border-radius: 10px;
        }
        .destinos-imagen-piramides{
            height: 250px;
            background-image: url("../img/piramides.jpg");
            background-size: cover;
            border-radius: 10px;
        }
        .destinos-titulos{
            text-align: center;
            font-size: 30px;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            transition: 1s;
        &:hover{
            color: $color-primario;
        }
        }
        
        p{
            font-size: 15px;
            font-weight: 700;
        }
    }
}