//*VARIABLE*//
$color-principal:rgb(0, 117, 117);
$color-secundario:#C8D6B5;
$color-terciario:#e1e5ff;
$color-p: black;



//*LISTAS*//

$font-size:
15px,
35px,
60px,
13px,
30px,
10px,
20px,
40px,
65px;



//*MIXINS*//

@mixin flex ($flex, $justify){
    display: $flex;
    justify-content: $justify;
}



@mixin direction ($flex, $justify){
    display: $flex;
    justify-content: $justify;
}

@mixin formularios ($flex, $column){
    display: $flex;
    flex-direction: $column;
}

@mixin formularios ($flex, $evenly){
    display: $flex;
    justify-content: $evenly;
}

@mixin bienvenidos ($flex, $around){
    display: $flex;
    justify-content: $around;
}